DISCORD_TOKEN=
MONGO_TOKEN=mongodb+srv://lewislambern:Z3roaster1@system.5yqkrun.mongodb.net/?retryWrites=true&w=majority
GIPHY_TOKEN=QGIio4EG5yRAouS3twZRityVwB44QrFE
WEBHOOK_ID=1359070186237464580
WEBHOOK_TOKEN=VMWkB6CnojQRmGzh6J4sIqwcYW68d-1fWKFlc2ao9wfLP6UglVF92d_k0icg7EG3agcp
DISCORD_ID=1352286106703499365

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Listening to meself, I'm a stupid bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI= 
